<%- include ('../partials/header') %>
<%- include ('../partials/main_nav') %>

<!--Main content-->
<main class="container">
    <div class="row">
        <div class="container" style="max-width: 100%; margin: 0 auto;">
            <h1><%= title %></h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/typingRecords/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Record
            </a>
            <% } %>
            <table class="table table-bordered table-striped table-hover">
            <% if(typeof displayName=='string' && displayName) { %>
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-1">Username</th>
                    <th class="text-center col-1">WPM</th>
                    <th class="text-center col-1">Accuracy</th>
                    <th class="text-center col-1">Time (s)</th>
                    <th class="col-6">Text Prompt</th>
                    <th class="text-center" style="width: 108px;">Edit</th>
                    <th class="text-center" style="width: 108px;">Delete</th>
                </tr>
                <% for(let count=0; count < RecordList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-1"><%= RecordList[count].username %></td>
                        <td class="text-center col-1"><%= RecordList[count].wordsPerMinute %></td>
                        <td class="text-center col-1"><%= RecordList[count].accuracy %></td>
                        <td class="text-center col-1"><%= RecordList[count].timeTaken %></td>
                        <td class="col-6"><%= RecordList[count].textPrompt %></td>
                        <td class="text-center col-1">
                        <a href="/typingRecords/edit/<%= RecordList[count]._id%>" 
                            class="btn btn-primary btn-sm crud-btn">
                            <i class="fas fa-pencil-alt"></i></a></td>
                        <td class="text-center col-1">
                            <a href="/typingRecords/delete/<%= RecordList[count]._id%>" 
                            class="btn btn-danger btn-sm crud-btn"> 
                            <i class="fas fa-trash-alt"></i></a></td>
                        
                    </tr>
                <% } %>
            <% } else { %>
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Username</th>
                    <th class="text-center col-1">WPM</th>
                    <th class="text-center col-1">Accuracy</th>
                    <th class="text-center col-2">Time (s)</th>
                    <th class="col-6">Text Prompt</th>
                </tr>
                <% for(let count=0; count < RecordList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= RecordList[count].username %></td>
                        <td class="text-center col-1"><%= RecordList[count].wordsPerMinute %></td>
                        <td class="text-center col-1"><%= RecordList[count].accuracy %></td>
                        <td class="text-center col-2"><%= RecordList[count].timeTaken %></td>
                        <td class="col-6"><%= RecordList[count].textPrompt %></td>                        
                    </tr>
                <% } %>
            <% } %>
            </table>
        </div>
    </div>
</main>
<br>
<br>
<%- include ('../partials/footer.ejs') %>
 